<div class="container">
  <ng-container *ngIf="isLoggedIn(); else notLoggedIn">
    <img
      routerLink="/"
      class="container--image"
      alt="profile_picture"
      [src]="'assets/logo.png'"
    />
  </ng-container>
  <ng-template #notLoggedIn>
    <mat-button-toggle-group name="login_register" aria-label="Login Register">
      <mat-button-toggle class="login-button" value="login" routerLink="login">Einloggen</mat-button-toggle>
      <mat-button-toggle class="register-button" value="register" routerLink="register">Registrieren</mat-button-toggle>
    </mat-button-toggle-group>
  </ng-template>
</div>
