<app-header></app-header>
<button class="back" mat-raised-button routerLink=""><mat-icon>arrow_left</mat-icon> Zurück</button>
<ng-container [ngSwitch]="mode">
  <div *ngSwitchCase="'difficulty'" class="difficulties" @fade>
    <app-mode-card text="Einfach" imageSource="../../assets/difficulty-images/twingo.jpg" routerLink="/quiz/difficulty/leicht"></app-mode-card>
    <app-mode-card text="Mittel" imageSource="../../assets/difficulty-images/audi-a4.jpg" routerLink="/quiz/difficulty/leicht"></app-mode-card>
    <app-mode-card text="Schwer" imageSource="../../assets/difficulty-images/urus.jpg" routerLink="/quiz/difficulty/leicht"></app-mode-card>
  </div>
  <div *ngSwitchCase="'category'" class="categories" @fade>
    <app-mode-card text="Automarken" imageSource="../../assets/difficulty-images/urus.jpg" routerLink="/quiz/category/Marken"></app-mode-card>
    <app-mode-card text="Wer, wann und wo?" imageSource="../../assets/difficulty-images/urus.jpg" routerLink="/quiz/category/Wer, wann und wo?"></app-mode-card>
    <app-mode-card text="Motor" imageSource="../../assets/difficulty-images/urus.jpg" routerLink="/quiz/category/Motor"></app-mode-card>
    <app-mode-card text="Technik" imageSource="../../assets/difficulty-images/urus.jpg" routerLink="/quiz/category/Technik"></app-mode-card>
    <app-mode-card text="StVO" imageSource="../../assets/difficulty-images/urus.jpg" routerLink="/quiz/category/StVO"></app-mode-card>
  </div>
</ng-container>
