<h1 mat-dialog-title>Favorite Animal</h1>
<div class="dialog-content" mat-dialog-content>
  <form [formGroup]="form" class="content-container">
    <mat-form-field appearance="standard">
      <mat-label>Aktuelles Passwort</mat-label>
      <input type="password" formControlName="oldPassword" matInput placeholder="Aktuelles Password">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Neues Passwort</mat-label>
      <input type="password" formControlName="password" matInput placeholder="Neues Passwort">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Passwort wiederholen</mat-label>
      <input type="password" formControlName="passwordConfirm" matInput placeholder="Passwort wiederholen">
    </mat-form-field>
    <button class="save-button" mat-raised-button [disabled]="form.invalid" [class.disabled]="form.invalid"><mat-icon>check</mat-icon> Speichern</button>
  </form>
</div>
