<button class="back" mat-raised-button routerLink=""><mat-icon>arrow_left</mat-icon> Zurück</button>
<div class="container">
  <mat-card class="container--login-card">
    <mat-card-title>Einloggen</mat-card-title>
    <mat-card-content class="container--login-card__content">
      <mat-form-field appearance="standard">
        <mat-label>E-Mail Adresse oder Benutzername</mat-label>
        <input matInput>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Passwort</mat-label>
        <input matInput>
        <mat-icon matSuffix>fingerprint</mat-icon>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button class="register-button" mat-raised-button>
        <mat-icon>play_arrow</mat-icon>
        Einloggen
      </button>
    </mat-card-actions>
  </mat-card>
</div>
