<button class="back" mat-raised-button routerLink=""><mat-icon>arrow_left</mat-icon> Zurück</button>
<div class="container">
  <mat-card class="container--login-card">
    <mat-card-title>Einloggen</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" class="container--login-card__content">
        <mat-form-field appearance="standard">
          <mat-label>E-Mail Adresse oder Benutzername</mat-label>
          <input formControlName="identity" matInput>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Passwort</mat-label>
          <input formControlName="password" type="password" matInput>
          <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="form.invalid" [class.disabled]="form.invalid" type="submit" class="register-button" mat-raised-button (keydown.enter)="login()" (click)="login()">
        <mat-icon>play_arrow</mat-icon>
        Einloggen
      </button>
    </mat-card-actions>
  </mat-card>
</div>
