:host {
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    &--image {
      width: 224px;
      -webkit-user-drag: none;
    }

    &--image:hover {
      cursor: pointer;
    }
  }
}
