<button class="back" mat-raised-button routerLink=""><mat-icon>arrow_left</mat-icon> Zurück</button>
<div class="container">
  <mat-card class="container--register-card">
    <mat-card-title>Registrieren</mat-card-title>
    <mat-card-content class="container--register-card__content">
      <form [formGroup]="form">
        <mat-form-field appearance="standard">
          <mat-label>Benutzername</mat-label>
          <input formControlName="username" matInput>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>E-Mail Adresse</mat-label>
          <input formControlName="email" matInput>
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Passwort</mat-label>
          <input type="password" formControlName="password" matInput>
          <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Passwort wiederholen</mat-label>
          <input type="password" formControlName="repeatPassword" matInput>
          <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="form.invalid" [class.disabled]="form.invalid" class="register-button" mat-raised-button (click)="register()">
        <mat-icon>play_arrow</mat-icon>
        Registrieren
      </button>
    </mat-card-actions>
  </mat-card>
</div>
